body{
	background-color:#333;
}
.container .navbar .container {
  width: auto;
	}
.container-fluid{
	margin:auto;
	width:700px;
	}
.hero-unit{
	width:700px;
	height:700px;
}

.trompos{
	float:right;
	}
.gamas{
	float:left;
	}
	
#footer{
	background-color:#333;
	text-align:center;
	color:black;
	}